#ulquiorra > h1 {
    display: block;
    color: rgb(0, 0, 0);
    background-color: darkgreen;
    width: 160px;
    height: 200px;
}
.hollow > h2 {
    display: block;
    color: rgb(0, 0, 0);
    background-color: rgb(100, 0, 0);
    width: 140px;
    height: 150px;
}
